

.form{

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(111, 165, 36);

}
  
  .label {
    font-weight: bold;
  }
  
  .input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
 .add-book {
    padding: 0.5rem 1rem;
    background-color:brown;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  